<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <span class="glypicon glypicon-tree-deciduous"></span>
                Messaging users is fun! No spamming though!
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/"></a></li>
            <li><a href="/broadcast"></a></li>
            <li><a href="/logout"></a></li>
        </ul>
    </div>
</nav>