<title>Super Awesome</title>

<script language="javascript" src="/js/jquery.slim.min.js"></script>
<script language="javascript" src="/js/bootstrap.min.js"></script>
<script language="javascript" src="/js/popper.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">